.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.width {
    width: 1200px;
}

.formulario{
width: 100%;
display: flex;
justify-content:center ;
align-items: center;

}

.formulario fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 18em;
    border-radius: 1em;
}

.formulario fieldset legend {
    text-align: center;
}
.formulario fieldset label{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.formulario fieldset label input{
    width: 95%;
    height: 3em;
    margin: 0.5em;
}

.formulario fieldset label button{
    width: 80%;
    height: 3em;
}

